* {
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  #app {
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 20px 0px rgb(0 0 0 / 50%);
    height: 80%;
    width: 50%;
  }
  
  main {
    height: 60%;
  }
  
  h1 {
    margin-top: 0;
    padding-bottom: 20px;
    border-bottom: 5px solid #80808054;
  }
  
  a {
    color: rgb(233, 109, 130);
    text-decoration: none;
  }
  
  form {
    display: flex;
  }
  
  form input {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    margin-right: 5px;
  }
  
  button {
    background-color: rgb(233, 109, 130);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
  }
  
  ul {
    padding: 0;
    overflow-y: scroll;
    height: 100%;
  }
  
  ul li {
    list-style: none;
  }
  
  label {
    cursor: pointer;
  }